<div class="nav">
    <div class="navLeft">
        <a href="/blogs"><img class="logo" src="/csblogo.png" alt="logo"  width="60px" height="56px"/></a>
        <h1>CSB BLOG</h1>
    </div>
    <div class="navRight">
        <form action="/blogs/search" method="post">
            <input type="text" name="search" placeholder="Search" />
            <button type="submit">Search</button>
        </form>
        <a href="/blogs">Blogs</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a> 
        <a href="/blogs/create">Create Blog</a>
    </div>
</div>