<html lang="en">
<head>
    <%- include('section/header.ejs') %>
</head>
<body>
    <%- include('section/body.ejs') %>
    
    <div class="error">
        <p>404<br>File not found</p>
    </div>
    
    <%- include('section/footer.ejs') %>

</body>
</html>