<html lang="en">
<head>
    <%- include('section/header.ejs') %>
</head>
<body>
    <%- include('section/body.ejs') %>

    <div class="about">
        <h1>About</h1>
        <p>Tech blog creator</p>
    </div>

    <%- include('section/footer.ejs') %>
</body>
</html>