<html lang="en">
<head>
    <%- include('section/header.ejs') %>
</head>
<body>
    <%- include('section/body.ejs') %>
    <div class="contact">
        <h1>Contact Us</h1>
        <ul>
            <li>Email: ayeshapemal@gmail.com</li>
            <li>WhatsApp: 0767837154</li>
        </ul>
    </div>
    
    <%- include('section/footer.ejs') %>
</body>
</html>